.app {
  width: calc(100vw * 0.95);
  height: calc(100vh * 0.95);

  .line-chart {

    path {
      stroke: steelblue;
      fill: none;
    }

    .sample-line {
      fill: none;
      stroke-width: 1px;
      stroke-dasharray: 5, 5;
      stroke: lightcoral;
    }

    .sample-marker {
      fill: white;
      stroke: lightcoral;
      stroke-dasharray: 5, 5;
      stroke-width: 2px;
    }

    .marker {
      stroke: none;
      fill: green;
    }
  }

  .axes {
    path,
    line {
      fill: none;
      stroke: gray;
      shape-rendering: crispEdges;
    }

    text {
      text-rendering: optimizeLegibility;
      font-size: .75rem;
      fill: gray;
      stroke: none;
    }
  }
}
